body, h1, h2, h3, p, a {
    color: #888;  
}


.responsive-image {
    width: 100%;           
    height: auto;          
    display: block;        
    margin: 20px 0;       
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: beige;
}


#container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
    background-color: beige; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


header {
    background-color: #333; 
    color: white; 
    padding: 1em;
    text-align: center;
    border-radius: 8px 8px 0 0;SSS
}

header h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}



nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 0.5em 0;
    border-radius: 0 0 8px 8px;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: grey;  
    text-decoration: none;
    font-weight: bold;
}


main {
    padding: 1.5em;
}

h2 {
    color: #888;  
    margin-bottom: 0.5em;
    text-align: center;
    margin-top: 20px;
}

h3 {
    color: #888;  
    margin-top: 1em;
    margin-bottom: 0.5em;
}

ul {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 1em;
}

hr {
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #ddd;
}


footer {
    background-color: #333;
    color: #fff;  
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
    border-radius: 8px;
}

footer p {
    font-size: 0.9em;
}


#content-container {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.column {
    flex: 1;
    padding: 1em;
    border-radius: 8px;
}

#mindfulness-section {
    background-color: tan;
}

#benefits-aside {
    background-color: tan;
}


.image-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
}

.image-container img {
    flex: 1 1 48%;         
    max-width: 100%;       
    height: auto;            
    margin: 1em 0;        
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    #content-container {
        flex-direction: column;
    }

    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .image-container img {
        flex: 1 1 100%; 
        margin: 0; 
    }
}


#bottom-content-container {
    display: flex;
    gap: 1em;
    margin-top: 2em;  
}

.column {
    flex: 1;
    padding: 1em;
    border-radius: 8px;
    background-color: transparent; 
    border: 2px solid #D2B48C;  
}


#mindfulness-section,
#benefits-aside,
#tips-section,
#everyday-practices-section {
    background-color: transparent; 
    border: 2px solid #D2B48C;  
}


@media (max-width: 768px) {
    #bottom-content-container {
        flex-direction: column;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}













