body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: green;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

header h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 0.5em 0;
    border-radius: 0 0 8px 8px;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 1.5em;
}


h2 {
    color: #333;
    margin-bottom: 0.5em;
    text-align: center;
    margin-top: 20px;
}

h3 {
    color: #333;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.flex-section {
    display: flex;
    gap: 1.5em;
}

#techniques-section {
    flex: 2;
    background-color: #f9f9f9;
    padding: 1em;
    border-radius: 8px;
}

#techniques-aside {
    flex: 1;
    background-color: #eaeaea;
    padding: 1em;
    border-radius: 8px;
}

ul {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 1em;
}

hr {
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #ddd;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
    border-radius: 8px;
}

footer p {
    font-size: 0.9em;
}

main img, .image-container img {
    width: 100%;
    max-width: 480px;
    height: auto;
    display: block;
    margin: 1em auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
}

.image-container img {
    flex: 1 1 48%;
    max-width: 100%;
}

@media (max-width: 768px) {
    .flex-section {
        flex-direction: column;
    }
}




